@{
    ViewData["Title"] = "Buy Package";

}

<br />
<br />
<h3>Available packages for @ViewBag.optionProject.Title</h3>
<ul class="list-group">
    @{ var i = 0; }
    @foreach (var reward in @ViewBag.optionRewards)
    {
        i++;
        <li class="@(i % 2 == 0 ? "list-group-item list-group-item-secondary" : "list-group-item")">
            <div class="row">
                <div class="col-2">
                    @reward.Title
                </div>
                <div class="col-7">
                    @reward.Description
                </div>
                <div class="col-2">
                    @reward.Value
                </div>
                <div class="col-1">
                    <a asp-action="Payment"
                       asp-route-RewardId="@reward.Id"
                       asp-route-ProjectId="@ViewBag.optionProject.Id">
                        BUY
                    </a>
                </div>
            </div>
        </li>

    }
</ul>