@model Fundraising.App.Core.Options.OptionsProject

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <section class="row col-12 ">
        <section>
            <div class="col-5">
                <img src="/ProjectImages/@Model.ImagePath" width="600" height="600" />
            </div>
        </section>
        <section class="col-7">
            <dl >
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AmountGathered)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AmountGathered)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TargetAmount)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TargetAmount)
            </dd>
            </dl>
        </section>
    </section>
    




</div>
<div>
    <a asp-action="Index">Projects List</a> |
    <a asp-controller="Dashboard" asp-action="Index">Dashboard</a>
</div>
